*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align: center;
    text-shadow: 1px 2px 2px #6B1986;
    box-shadow: 2px 2px 7px 1px #6B1986;
}
body{
    font-size: large;
}
table{
  margin: 3rem auto;
  border: 1px solid #6B1986;
  width: 30%;
}
tr,td{
    margin: 3px;
    padding: 5px;
}
tr:nth-child(2n){
    background-color: #D5BCBC;
}
   
td:first-child{
    text-align: center;
}

input[type="checkbox"]{
    font-size: xx-large;
}
p{
    text-align: center;
}
li{
    list-style-type: circle;
}